body {
   color: #40514E ;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0 ;
  font-family: 'Merriweather', serif;
}

.top-container {
background-color: #d0e8f2;
text-align: center;
position: absolute;
left: 0;
top: 0;
padding-top:90px;
right: 0;
}
h1{
  color: #66BFBF;
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Sacramento', cursive;

}
h2{
  font-size: 2rem;
  color:#66BFBF;
  font-family: "Montserrat", sans-serif;
}
h3{
  color: #66BFBF;
  font-size: 1.5rem;
  font-family: 'Montserrat' ,sans-serif;

}

.middle-container {
  text-align: center;
    color: #66BFBF;
}

.line-hight {
  line-height: 1.5;
}
.Upper-cloud{
  position:absolute;
  right:300px;
  top: 60px;
}
.Bottom-cloud {
  position: absolute;
  left:300px;
 /* top: 300px;*/
}
p {
  color: #40514E;
}
hr {
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width: 20px;
  width:10%;
}
.IIT {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
}

.SCHOOL {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
}
/*td {
  padding: 10px 0;
}*/
.new {
  background-color: #E8E8E8;
}
input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border-style: solid;
}
textarea {
  width: 300px;
  border-radius: 5px;
  border-style: solid;
}


.button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  width: 120px;
  text-decoration: none;
}
.button:hover { background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;}
.bottom-container {
  background-color:  #d0e8f2;
  margin-bottom: 0;
  padding-bottom: 20px;

}
a {
padding:10px 20px ;
text-decoration: none;
  text-shadow: 1px 1px 2px #000000;
text-align: center;
border-radius: 8px;
}



.menu-right {
  text-align: left;
}
ul li{
  display:inline-block;
  margin:20px;
  border-radius: 8px;
background-color: #66BFBF;
  color:white;
  height:30px;
  width:120px ;
  text-align: center;
  padding-top :12px;


}
li:hover{ background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
text-align:;}





.nav-bar {
  background-color:#d0e8f2;
  color:#66BFBF;
  padding : 20px ;
  font-family : sans-serif;
  position: absolute;
  top:20px;
  left: 60px;
}
span {
  margin:0 20px;
  font-size:50px;
  cursor: pointer;
  display: none;

}



@media only screen and (max-width:7000px) {
  span{
    display:block;
  }
  ul li {
    display: block;
  }
  ul {
    display: none;
  }
}
